/* Import font family */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

/* index.css - Stylesheet for Alex Curwick's term project
   Alexander Curwick
   Written: March 21, 2021
   Revised:

  Color Scheme:
  #12232E  Dark Blue: Dark Background
  #007CC7  Lighter Blue: Accent Background
  #4DA8DA  Lightest Blue: Highlight, Accent Text
  #203647  Shadow of Dark Blue: Dark Text
  #EEFBFB  Shadow of Light Blue: Light Text, Background
*/

body {
  font-family: sans-serif;
  color: #203647;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #EEFBFB;
  height: 100%;
  min-height: 100%;
}

h1 {
  font-size: 50px;
  font-family: 'Anton', sans-serif;
  color: #EEFBFB;
  margin-bottom: 0px;
}

h3 {
  font-size: 15px;
  color: #EEFBFB;
  margin-top: 0px;
}

/***********
 * Carousel
 ***********/
.image-slide {
  height: 480px;
  width: 720px;
  margin: auto;
  transition: background-image .3s ease-in-out;
}

.slide-arrow {
  color: #EEFBFB;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 50%;
}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 1rem;
}

.carousel {
  width: 720px;
  height: 480px;
  margin: auto;
  position: relative;
}

/*****************
 * Login/Register
 *****************/

.login {
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #EEFBFB;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}

.login input[type="text"],
.login input[type="email"],
.login input[type="password"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}

.login input[type="button"],
.login input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #007CC7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #007CC7;
	box-shadow: inset 0px 1px 0px 0px #007CC7;
	background-color: #007CC7;
	border: 1px solid #4DA8DA;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.login input[type="button"]:hover,
.login input[type="submit"]:hover {
	background-color:#4DA8DA;
}

.login-register-wrapper {
  overflow: hidden;
}

.nav-buttons {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  margin-bottom: 3em;
}

button {
  font-size: 1.5em;
  margin-right:1em;
  border:0px;
  cursor: pointer;
}

button:focus {
  outline: 0px;
}

button.active {
  padding-bottom: 10px;
  border-bottom: solid 2px #007CC7;
}

.forgot-panel {
  position: relative;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 24px;
  border-top: solid 1px rgba(255,255,255,.3);
}

.form-group input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background: rgba(255,255,255,.5);
}

.form-group label {
  text-transform: uppercase;
}

input.submit {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  color: rgba(255,255,255, 1);
  padding: 8px 0px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 20px;
  margin-top: 23px;
  background-color: rgba(16,89,255, 1);
}

form#registerform {
  left:500px;
  top:-230px;
  position:relative;
}

.forgot-panel {
  margin-top:-300px;
  color:gray;
}

form, .forgot-panel {
  position: relative;
  transition: all .5s ease;
}

#loginBtn, #registerBtn {
  transition: all .5s ease;
}

/*************
 * Collection
 *************/

.album-list {
 	font-family: 'Open Sans Condensed', arial, sans;
 	width: 500px;
 	padding: 30px;
 	background: #EEFBFB;
 	margin: 50px auto;
 	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
 	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
 	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

/*.album-list button {
	-moz-box-shadow: inset 0px 1px 0px 0px #007CC7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #007CC7;
	box-shadow: inset 0px 1px 0px 0px #007CC7;
	background-color: #007CC7;
	border: 1px solid #4DA8DA;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.album-list button:hover {
	background-color:#4DA8DA;
}*/
